<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="onlinelogomaker-021222-0819-2969-500.jpg" style="border-radius: 100%;">
    <title>Forgot Password</title>
</head>

<style>
    body {
        background-color: white;
    }

    h3 {
        text-align: center;
        padding-top: 10px;
    }

    #password-recovery {

        background-color: whitesmoke;
        width: 70%;
        border: 0px;
        border-radius: 15px;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;


    }


    input {
        margin-left: 40%;
        margin-right: 40%;
        height: 25px;
        border: 0px;
        border-radius: 5px;

    }

    input:focus {
        outline: none;
    }


    [type="email"],
    [type="number"] {
        padding-left: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 14px;
    }

    button {
        margin-left: 40%;
        margin-right: 40%;
        border: 0px;
        height: max-content;
        background-color: rgba(128, 0, 128, 0.288);
        border-radius: 10px;

    }
</style>

<body>

    <div id="password-recovery">
        <h3>Welcome to Password Recovery</h3>

        <form id="email-admno" method="post" action="">
            <input type="email" name="forgotEmail" placeholder="Enter Your Email ..." required><br><br>
            <input type="number" name="forgotAdmno" placeholder="Enter Your Admission No" required><br><br>
            <h6 id="forgot-error" style=" color:  red; text-align: center;">
                <%=errorForgotData %>
            </h6>


            <button type="submit">
                <p style="margin:7px;">Get Email Verification Code</p>
            </button>
            <p style="text-align: center;">You Remember? &nbsp;<a href="/login">Login</a></p>

        </form>


    </div>

</body>

</html>