<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="icon" href="onlinelogomaker-021222-0819-2969-500.jpg" style="border-radius: 100%;">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Homepage</title>
</head>
<body>
    <div id="container">
      <div id="heading">
          <img id="title-logo" src="onlinelogomaker-021222-0819-2969-500.jpg" alt="school logo">
      </div>

      <div id="navigation"></div>
      <div id="reference-section"><hr>
          <h6 style="font-family: sans-serif;"><a id="default-home" href="homepage">Home</a>&nbsp;><a class="year-head" style="color: black;"> FORM 1 SUBJECTS</a></h6>
      </div>
      

      <div id="all-subject-display">
        <div id="year-subjects-heading"><hr>
            <h3 class="year-head-2">FORM 1 SUBJECTS</h3>
        </div><hr>

          <div id="subject-1">
            <span id="img" >
                <img src="history.jfif">
            </span>
            <div id="heading-description-syllabus-topics">
                <h4 style="margin-top: -15px">HISTORY</h4>
                <p style="text-align: justify; margin-top: -20px;">History is the study of the human past as it is described in written documents left behind by humans. The past, with all of its complicated choices and events, participants dead and history told, is what the general public perceives to be the immutable bedrock on which historians and archaeologists stand.
 
                    But as purveyors of the past, historians recognize that the bedrock is really quicksand, that bits of each story are yet untold, and that what has been told is colored by the conditions of today. While not untrue to say that history is the study of the past, here is a collection of much more clear and accurate descriptions.
                    
                </p>
                <div id="syllabus-topics">
                    <a href="#"><button id="view-syllabus">View Syllabus</button></a>
                    <a href="#"><button id="view-topic" >View Topic</button></a>
                </div>
                   
            </div>
          </div>


          <div id="subject-1">
            <span id="img">
                <img src="biology.png">
            </span>
            <div id="heading-description-syllabus-topics">
                <h4 style="margin-top: -15px" >BIOLOGY</h4>
                <p style="text-align: justify; margin-top: -20px;">History is the study of the human past as it is described in written documents left behind by humans. The past, with all of its complicated choices and events, participants dead and history told, is what the general public perceives to be the immutable bedrock on which historians and archaeologists stand.
 
                    But as purveyors of the past, historians recognize that the bedrock is really quicksand, that bits of each story are yet untold, and that what has been told is colored by the conditions of today. While not untrue to say that history is the study of the past, here is a collection of much more clear and accurate descriptions.
                </p>
                <div id="syllabus-topics">
                    <a href="#"><button  id="view-syllabus">View Syllabus</button></a>
                    <a href="#"><button  id="view-topic" >View Topic</button></a>
                </div>
                   
            </div>
          </div>

          <div id="subject-1">
            <span id="img">
                <img src="chemistry.jpg">
            </span>
            <div id="heading-description-syllabus-topics">
                <h4 style="margin-top: -15px" >CHEMISTRY</h4>
                <p style="text-align: justify; margin-top: -20px;">History is the study of the human past as it is described in written documents left behind by humans. The past, with all of its complicated choices and events, participants dead and history told, is what the general public perceives to be the immutable bedrock on which historians and archaeologists stand.
 
                    But as purveyors of the past, historians recognize that the bedrock is really quicksand, that bits of each story are yet untold, and that what has been told is colored by the conditions of today. While not untrue to say that history is the study of the past, here is a collection of much more clear and accurate descriptions.
                </p>
                <div id="syllabus-topics">
                    <a href="#"><button  id="view-syllabus">View Syllabus</button></a>
                    <a href="#"><button  id="view-topic" >View Topic</button></a>
                </div>
                   
            </div>
          </div>

          <div id="subject-1">
            <span id="img">
                <img src="physics.jpg">
            </span>
            <div id="heading-description-syllabus-topics">
                <h4 style="margin-top: -15px">PHYSICS</h4>
                <p style="text-align: justify; margin-top: -20px;">History is the study of the human past as it is described in written documents left behind by humans. The past, with all of its complicated choices and events, participants dead and history told, is what the general public perceives to be the immutable bedrock on which historians and archaeologists stand.
 
                    But as purveyors of the past, historians recognize that the bedrock is really quicksand, that bits of each story are yet untold, and that what has been told is colored by the conditions of today. While not untrue to say that history is the study of the past, here is a collection of much more clear and accurate descriptions.
                </p>
                <div id="syllabus-topics">
                    <a href="#"><button  id="view-syllabus">View Syllabus</button></a>
                    <a href="#"><button id="view-topic" >View Topic</button></a>
                </div>
                   
            </div>
          </div>
          
      </div><hr>


      <div id="bottom-shortcut"></div>
    </div>
    <div id="copyright"></div>
    <script src="index.js"></script>
</body>
</html>