html{
    background-color: whitesmoke;
}

#container{
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}
#title{
    text-align:center;
    font-family: serif;

}

#title-logo{
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#navigation{
    margin-top: -10%;
}


li,a{
   list-style-type: none;
   text-decoration: none;
   color: white;
  
}
#f1-f2-f3-f4,#mock-kcse{
    width: fit-content;
    margin-left: auto;
    margin-right: auto; 
}


button{
   
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border: 0px;
}

#kcse-btn,#mock-btn{
    width: max-content;
    margin-top: 20px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto; 

}
#default-home{
    color: black;
    margin-left: 20px;
}

#default-home:hover{
    color: blue;
}

hr{
    opacity: 0.2;
}

.year-head, .year-head-2{
    color: cornflowerblue;
    margin-left: 20px;
    font-family: sans-serif;
    
}
.subject{
    font-size: 12px;
}

#subject-1{
   display: flex;
   flex-direction: row;
    margin-top: 20px;
}

#heading-description-syllabus-topics{
    display: flex;
    flex-direction: column;
}

#img{
    width:fit-content;
    height: fit-content;
   
}

img{
    width: 200px;
    height: 200px;
}
#syllabus-topics{
    display:flex;
    margin-left: 20px;
   
}
h4{
    color: blue;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 20px;
}
p{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(27, 27, 27);
    


}

#view-syllabus{
background-color: red;
color: white;
}
#view-topic{
background-color: green;
color: white;
}

#revision-materials{
    display: flex;
}

#extra-sub-btn{
    width:max-content;
    font-size: 17px;
    margin-left: 40%;
    margin-top: 20px;
    
}

#footer-section{
    display: flex;
    background-color: rgb(12, 11, 11);
    width: 100%;

}

#social-handles{
    display: flex;
}
#facebook,#twitter,#instagram,#whatsapp{
    margin-left: 20px;
    border-radius: 100%;
    align-items: center;
    transition: cubic-bezier(0.77, 0, 0.175, 1);

   
}

#facebook:hover,#twitter:hover,#instagram:hover,#whatsapp:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}
#footer-paragraph,#web-tools-list,#past-papers-list{
    width: 300px;
}
.footer-list, .footer-list-2{
    list-style-type: square;
    color: rgb(126, 126, 126);
    font-family: sans-serif;
    margin-top: 8px;
    font-size: 14px;
}

#footer-paragraph:hover,.footer-list:hover, .footer-list-2:hover{
    color: white;
    transition: 0.6s;
}




/**SCRIPT IN REFERENCE TO THE KCSEPAPERS PAGE **/

#kcse-table{
    border: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
#kcse-heading{
    font-family: sans-serif;
    margin-left: 20px;
}

#kcse-year-questions,#kcse-numeric-year-question{
    background-color: rgb(240, 46, 46);
    text-align: left;
}

#kcse-questions-answer{
    width: 80%;
    margin-left: 100px;
    text-align: left;
    color: white;
    font-family: sans-serif;
   
}

#kcse-year{color:white; width: 200px; height: 35px;   font-family: sans-serif;}
#kcse-question{background-color: whitesmoke;   font-family: sans-serif;}

#kcse-numeric-year{
    width: 200px;
    height: 35px;
    background-color: whitesmoke;

}



/** DONE WITH THE SCRIPT IN REFERENCE TO KCSE PAGE