<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="icon" href="onlinelogomaker-021222-0819-2969-500.jpg" style="border-radius: 100%;">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>KCSE Past Papers</title>
</head>

<body>
    <div id="container">
        <div id="heading">
            <img id="title-logo" src="onlinelogomaker-021222-0819-2969-500.jpg">
        </div>

        <div id="navigation"></div>

        <div id="reference-section">
            <hr>
            <h6 style="font-family: sans-serif;"><a id="default-home" href="homepage">Home</a>&nbsp;><a
                    class="year-head" style="color: black;"> KCSE Past Papers</a></h6>
        </div>
        <div id="year-subjects-heading">
            <hr>
            <h3 class="year-head-2">KCSE Past Papers</h3>
            <div id="all-subject-display"> </div>
        </div>
        <hr>
        <div id="kcse-all-subjects">
            <div id="kcse-subject">
                <h3 id="kcse-heading" style="font-weight: bold;">Mathematics</h3>
                <table id="kcse-table">
                    <tr id="kcse-year-questions">
                        <th id="kcse-year">Year</th>
                        <th id="kcse-questions-answer">Questions/Answers</th>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2015</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;" style="margin-left:5px;">2016</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2017</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2018</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                </table>
                <h3 id="kcse-heading" style="font-weight: bold;">English</h3>
                <table id="kcse-table">
                    <tr id="kcse-year-questions">
                        <th id="kcse-year">Year</th>
                        <th id="kcse-questions-answer">Questions/Answers</th>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:15px;">2015</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2016</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2017</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2018</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                </table>

                <h3 id="kcse-heading" style="font-weight: bold;">Christian Religious Education</h3>
                <table id="kcse-table">
                    <tr id="kcse-year-questions">
                        <th id="kcse-year">Year</th>
                        <th id="kcse-questions-answer">Questions/Answers</th>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2015</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2016</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2017</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2018</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                </table>

                <h3 id="kcse-heading" style="font-weight: bold;">Business</h3>
                <table id="kcse-table">
                    <tr id="kcse-year-questions">
                        <th id="kcse-year">Year</th>
                        <th id="kcse-questions-answer">Questions/Answers</th>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2015</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2016</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2017</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                    <tr id="kcse-numeric-year-question">
                        <td id="kcse-numeric-year" style="margin-left:5px;">2018</td>
                        <td id="kcse-question"><a
                                href="https://maktaba.tetea.org/past-papers/csee/addl_math/Additional%20Math%20-%202000.pdf"
                                style="color: black;">Questions</a></td>
                    </tr>
                </table>

            </div>
        </div>
        <hr>
        <div id="bottom-shortcut"></div>
    </div>
    <div id="copyright"></div>
    <script src="index.js"></script>
</body>

</html>