<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<style>
    #reset-password {
        background-color: whitesmoke;
        text-align: center;
        margin-top: 2%;
        width: 60%;
        margin-left: auto;
        margin-right: auto;

    }

    input {
        border: 0px;
        height: 25px;
    }

    button {
        border: 0px;
        background-color: rgba(128, 0, 128, 0.288);
        padding: 5px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    :focus {
        outline: none;
    }

    [type="password"] {
        font-size: 14px;
        padding-left: 10px;
        font-family: sans-serif;
    }
</style>

<script>

    function actionTaken() {

        const { token } = require('./users');   // Acquired token from reset password route
        document.getElementById("reset-password-form").action = `http://127.0.0.1:5050/resetpassword/:${token}`;

    }

</script>


<body>
    <div id="reset-password">

        <h3 style="color: blue;">Resetting Password for <b>
                <%=userEmail %>
            </b></h3>
        <form id="reset-password-form" method="post" action="" onsubmit="actionTaken()">
            <input type="password" name="password" id="password" placeholder="Enter Password..." required> <br><br>
            <input type="password" name=" confirmpassword" id="confirmpassword" placeholder="Confirm Password..."
                required><br><br>
            <div id="reset-password-error" style="font-size: small;"></div><br>
            <div id="reset-password-error-server" style="font-size: small;"> <b>
                    <%=notValidUser %>
                </b></div><br>
            <button type="submit" value="RESET">RESET</button><br>
        </form>
    </div>

    <script>
        const form = document.getElementById("reset-password-form");
        const password = document.getElementById("password");
        const confirmPassword = document.getElementById("confirmpassword");
        const resetError = document.getElementById("reset-password-error");

        form.addEventListener("submit", (e) => {
            if (password.value != confirmPassword.value) {
                e.preventDefault();

                resetError.innerHTML = ` The Password and Confirm Password should Match`

            }

        })


    </script>

</body>

</html>